@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply font-body;
    @apply bg-white;
    @apply text-tertiary;
    scroll-behavior: smooth;
  }
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red-orange-gradient {
  background: "#cb285d";
  background: linear-gradient(45.13deg, #ecc22e 1.9%, #cb285d 97.5%);
  background: -webkit-linear-gradient(-45.13deg, #ecc22e 1.9%, #cb285d 97.5%);
}

.blue-green-gradient {
  background: "#00afe7";
  background: linear-gradient(45.13deg, #00afe7 1.9%,#00dbcb 25%, #00e682 75%, #00d800 97.5%);
  background: -webkit-linear-gradient(-45.13deg, #00afe7 1.9%,#00dbcb 25%, #00e682 75%, #00d800 97.5%);
}


.green-text-gradient {
  background: #00e682; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #00d800,
    #00e682
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #00d800,
    #00e682
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #00afe7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #00dbcb,
    #00afe7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #00dbcb,
    #00afe7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-text-gradient {
  background: #cb285d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #cb285d,
    #ecc22e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #cb285d,
    #ecc22e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blurred::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../src/assets/images/bgChicha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  opacity: 0.8;
  z-index: -1;
}

.bg-dark {
  background-image: url("../src/assets/images/backgroundDark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
